<div class="signup-container">
  <div class="user-container">
    <h1>Sign Up</h1>
  </div>
  <h2>Email</h2>
  <input class="input" type="email" placeholder="Enter your email"/>
  <h2>Password</h2>
  <input class="input" type="text" placeholder="Password"/>
  <h2>Re-confirm Password</h2>
  <input class="input" type="text" placeholder="Re-comfirm Password"/>
  <div class="user-container">
    <button class="signupbtn">Create Account</button>
    <a [routerLink]="['/login']" class="link">Already have account? Login</a>
  </div>
</div>
