.footer {
  background-color: var(--primary-container-bg-color);
  color: var(--primary-container-font-color);
  text-align: center;
  padding: 1rem;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
}
